{% extends "base_generic.html" %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Electricity Bills of <i>{{ rentee.full_name }}</i></h2>
        <a href="{% url 'bill_create' %}?rentee_id={{ rentee.id }}&next={{ request.get_full_path|urlencode }}"
           class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add Bill
        </a>
    </div>

    <form method="get" class="mb-3 d-flex align-items-center">
        <input type="text" name="q" class="form-control me-2" placeholder="Search rentees..."
               value="{{ search_query }}">

        <select name="q_month" class="form-select me-2" aria-label="Select month" onchange="updateMonthName(this)">
            <option value="">Select the Month</option>
            {% for num, name in DATE_MONTH_CHOICES %}
                <option value="{{ num }}"
                        {% if q_month|stringformat:"s" == num|stringformat:"s" %}selected{% endif %}>
                    {{ name }}
                </option>
            {% endfor %}
        </select>


        <input type="number" name="q_year" class="form-control me-2" placeholder="Year" min="2000" max="2099"
               value="{{ q_year }}">

        <button type="submit" class="btn btn-outline-primary me-2">Search</button>

        <a href="{% url 'bill_list_user_wise' rentee.id %}" class="btn btn-outline-secondary">Clear</a>
    </form>
    {% include "components/bills_table.html" with bills=bills %}
    {# TODO Break down this things into components #}
    {% if bills.paginator.num_pages > 1 %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if bills.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-dark"
                           href="?q={{ search_query }}&page={{ bills.previous_page_number }}&q_month={{ q_month }}&q_year={{ q_year }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                {% for num in bills.paginator.page_range %}
                    {% if num == bills.number %}
                        <li class="page-item active">
                            <span class="page-link bg-dark border-dark text-white">{{ num }}</span>
                        </li>
                    {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link text-dark"
                               href="?q={{ search_query }}&page={{ num }}&q_month={{ q_month }}&q_year={{ q_year }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if bills.has_next %}
                    <li class="page-item">
                        <a class="page-link text-dark"
                           href="?q={{ search_query }}&page={{ bills.next_page_number }}&q_month={{ q_month }}&q_year={{ q_year }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}